/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation Bar */
nav {
    margin-top: 10px;
    text-align: center;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

nav a:hover {
    border-bottom: 2px solid #4CAF50; /* Underline effect on hover */
}

/* Project Cards Styles */
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#projects-heading {
    text-align: center;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative; /* Ensures button is positioned relative to the card */
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-card h3 {
    margin-top: 15px;
}

.project-card p {
    flex-grow: 1;  /* This makes sure the description takes up space and pushes the button to the bottom */
    margin-bottom: 60px;  /* Increase the space between the text and the button */
}


.project-card .view-project {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.project-card .view-project:hover {
    background-color: #45a049;
}

/* About Me Section */
#about {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
